[submodule "semiclip_mm_src/hlsdk"]
	path = semiclip_mm_src/hlsdk
	url = https://github.com/alliedmodders/hlsdk.git
[submodule "semiclip_mm_src/metamod-hl1"]
	path = semiclip_mm_src/metamod-hl1
	url = https://github.com/alliedmodders/metamod-hl1.git
